body {
	background-color: darkgrey;
}
.heading__style {
	background-color: #fff;
	font-family: "Raleway", sans-serif;
	font-size: 13px;
	letter-spacing: 2px;
	padding: 40px;
	text-align: center;
	font-weight: 500;
	margin-bottom: 30px;
}
.cards {
	float: left;
	margin: 50px;
	background-color: grey;
}
.card__img {
	width: 200px;
	height: 200px;
	border-radius: 10px;
}
